<div class="dialog">
	<h3>We're sorry, but something went wrong (500)</h3>
	<p class="error"><%= "This is an invalid path"%></p>
	<p><%= logger.error $! %></p>
	<p>&nbsp;</p>
	<p class="error_back"><%= link_to "GO BACK", root_path %></p>
	
</div>